ASPNETCORE_ENVIRONMENT=Production
DATABASE_URL=mysql8-upc.mysql.database.azure.com
DATABASE_SCHEMA=spottrack-aw
DATABASE_USER=learner
DATABASE_PASSWORD=changeme
TokenSettings__Secret=changeme-min-32-chars
